body {
	background-color: #121626;
}

a{
	color: white;
	text-decoration: none;
}	
	
table th{
	color: white;
	list-style: none;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Cuprum;
	font-size: 22px;
}

h1{
	color: #FC7844;
	font-family: Bangers;
	font-size: 45px;
	letter-spacing: 3px;
}		

h2{
	color: #21916A;
	font-family: Bangers;
	font-size: 30px;
	letter-spacing: 3px;
}	


p{
	color: white;
	font-family: Cuprum;
	font-size: 22px;
}	

.aku{
	position: absolute;
    top: 35px;
    right: 35px;
}

.nastavitve {        /* urejanje definiranega razreda */
	float: right;
}

.nastavitve img {    /* slika v tem razredu */
	float: left;
	padding-right: 5px;
}

.snemanje {
	float: right;
}

.snemanje img {
	float: left;
	padding-right: 5px;
}


.glasba {
	float: right;
}

.glasba img {
	float: left;
	padding-right: 5px;
}

.shrani {
	float: right;
}

.shrani img {
	float: left;
	padding-right: 5px;
}

.izvoz {
	float: right;
}

.izvoz img {
	float: left;
	padding-right: 5px;
}

.licenca{
	padding-top: 0py;
	font-size: 15px;
}

footer {
	position: bottom;
    text-align:center;
}

